<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="description" content="sample/////////">
    <style>
        .table th,
        .table td{
            border: 1px solid #000;
            padding: 1px;
        }
        .table{
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <header></header>
    <h1>Miteath</h1>
    <div>
        <a href="./register.html" class="size">Register</a>
        <a href="./search.html" class="size"> Search </a>
    </div>
    <div>
        <table class="table table01">
            <script>
                const now=new Date();
                const year = now.getFullYear();
                const month = now.getMonth()+1;
                const date = now.getDate();
                var monthDayCountList=[31,28,31,30,31,30,31,31,30,31,30,31]
                if (month==2){
                    if(year%4==0){
                        monthDayCount=29
                        if(year%400==0){
                            monthDayCount=29
                        }else if(year%100==0){
                            monthDayCount=28
                        }
                    }
                }else{
                    monthDayCount=monthDayCountList[month-1]
                }
                document.write('<tr>');
                document.write('<th>氏名</th>')
                color="#b7efb7"
                for (var i=1;i<=monthDayCount;i++){
                    if(i==date){
                        color="green"
                    }else{
                        color="#b7efb7"    
                    }
                    if(i<10){
                        document.write('<th bgcolor='+color+'>0'+ i +'</th>')
                    }else{
                        document.write('<th bgcolor='+color+'>'+ i +'</th>')
                    }
                }
                
                document.write('<th>得点</th>')
                document.write('</tr>')
            </script>
            <tr th:each="attend : ${attendanceData}">
                <td th:text="${attend.name}"></a></td>
                <th:block th:if="${!#lists.isEmpty(attend.data)}" th:each="date: ${attend.date}">
                    <td th:text="${date}"></td>
                </th:block>
                <td th:text="${attend.point}"></td>
            </tr>
        </table>
        
    </div>
</body>
</html>